{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["config-overrides.js"],
      "options": {
        "trailingComma": "es5"
      }
    }
  ]
}
